MODE='production' # development | production

# Client
PORT=3005
CLIENT_FULL_URL='http://localhost:3005'

# Server
SERVER_PORT=3001
SERVER_FULL_URL='http://localhost:3001'

# Postgres Docker
POSTGRES_DB='chat'
POSTGRES_USER='chat_user'
POSTGRES_PASSWORD='suasenha'
POSTGRES_PORT=5432

# Database Connection
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"
