MODE='production' # development | production

# Client
PORT=3005
CLIENT_FULL_URL='http://localhost:3005'
VITE_API_URL='http://localhost:3001'

VITE_AUTH_TOKEN_STORAGE_NAME='WPP.Auth-Token'
VITE_REFRESH_TOKEN_STORAGE_NAME='WPP.Refresh-Token'

# Server
SERVER_PORT=3001
SERVER_FULL_URL='http://localhost:3001'

# Server - Authenticator
JWT_SECRET='JWT-TOKEN-SECRET'
SESSION_TOKEN_AUTH_TIMEOUT='1h'
SESSION_TOKEN_REFRESH_TIMEOUT='30d'

# Server - Cloudflare
CLOUDFLARE_ACCOUNT_ID=''
CLOUDFLARE_R2_BUCKET=''
CLOUDFLARE_R2_TOKEN=''
CLOUDFLARE_R2_KEY_ID=''
CLOUDFLARE_R2_KEY_SECRET=''

# Postgres Docker
POSTGRES_DB='chat'
POSTGRES_USER='chat_user'
POSTGRES_PASSWORD='suasenha'
POSTGRES_PORT=5432

# Database Connection
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1:${POSTGRES_PORT}/${POSTGRES_DB}"
