{
	"trailingComma": "none",
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"printWidth": 120,

	"importOrder": [
		"^@/core/?(.*)$",
		"^@/adapters/?(.*)$",
		"^@/modules/?(.*)$",
		"^@/services/?(.*)$",
		"^@/utils/?(.*)$",
		"^@/entities/?(.*)$",
		"^@/config/?(.*)$",
		"^@/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],

	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
